* {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-family: 微软雅黑;
}

a {
	text-decoration: none;
}

i {
	 font-style:normal;
}


input {
	border: none;
}

li {
	list-style: none;
}

table {
	border-collapse:collapse;
	/*border-spacing: 0px;*/
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

em {
	font-style: normal;
}

#top {
	width: 100%;
	height: 44px;
	background: #782B90;
}

#top .topShow {
	width: 1200px;
	height: 44px;
	margin: 0 auto;
	/*border: 1px solid orange;*/
}

#top .topShow .welcome {
	line-height: 44px;
	color: #fff;
	float: left;
	padding-left: 50px;
}

#top .topShow .phone {
	line-height: 44px;
	color: #fff;
	float: right;
	padding-right: 50px;
}

#top_2 {
	width: 100%;
	height: 131px;
}

#top_2 #topMenu {
	width: 1200px;
	height: 131px;
	margin: 0 auto;
	/*border: 1px solid black;*/
}

#top_2 #topMenu .logo {
	float: left;
}

#top_2 #topMenu .logo img {
	padding-left: 80px;
}

#top_2 #topMenu #menu {
	float: left;
	padding-top: 65px;
	padding-left: 85px;
}

#top_2 #topMenu #menu li {
	float: left;
}

#top_2 #topMenu #menu li a {
	padding: 8px 8px 8px 8px;
	margin-right: 20px;
	font-size: 16px;
	color: #4A4A4A;
	display: block;
}

#top_2 #topMenu #menu li a:hover {
	background: #D7D7D7;
	border-radius: 10px;
	color: #782B90;
}

#midShow {
	width: 100%;
	height: 410px;
}

.fullSlide {
	width:100%;
	position:absolute;
	height:410px;
	background:#000;
}

.fullSlide .bd {
	margin:0 auto;
	position:relative;
	z-index:0;
	overflow:hidden;
}

.fullSlide .bd ul {
	width:100% !important;
}

.fullSlide .bd li {
	width:100% !important;
	height:410px;
	overflow:hidden;
	text-align:center;
}

.fullSlide .bd li a {
	display:block;
	height:410px;
	color:#333;
}

.fullSlide .bd li a:hover {
	color:#1974A1;
}

.fullSlide .hd {
	width:100%;
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	height:30px;
	line-height:30px;
}

.fullSlide .hd ul {
	text-align:center;
}

.fullSlide .hd ul li {
	cursor:pointer;
	display:inline-block;
	*display:inline;
	zoom:1;
	width:42px;
	height:11px;
	margin:1px;
	overflow:hidden;
	background:#000;
	filter:alpha(opacity=50);
	opacity:0.5;
	line-height:999px;
}

.fullSlide .hd ul .on {
	background:#f00;
}

.fullSlide .prev,.fullSlide .next {
	display:block;
	position:absolute;
	z-index:1;
	top:50%;
	margin-top:-30px;
	left:15%;
	z-index:1;
	width:40px;
	height:60px;
	background:url(../images/slider-arrow.png) -126px -137px #000 no-repeat;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:0.5;
	display:none;
}

.fullSlide .next {
	left:auto;
	right:15%;
	background-position:-6px -137px;
}

#midMessage {
	width: 1100px;
	height: 38px;
	/*float: left;*/
	/*position: absolute;
	left: 125px;*/
	/*border: 1px solid red;*/
	margin: 0 auto;
	/*z-index: 2;*/
	overflow:hidden;
}

#midMessage .lbTag {
	display: inline-block;
	position: relative;
	left: 10px;
	top: 4px;
	width: 30px;
	height: 30px;
	background: url(../images/index_09.jpg) no-repeat;
}

#midMessage .lbTitle {
	position: relative;
	left: 18px;
	bottom: 4px;
	/*top: 4px;*/
	font-size: 16px;
	font-family: 微软雅黑;
	font-weight: 700;
	/*line-height: 38px;*/
	color: #656565;
}

#callboard { 
	position: relative;
	left: 140px;
	bottom: 26px;
	width: 700px;
	height:24px; 
	line-height:24px; 
	overflow:hidden;
}

#callboard ul { 
	padding:0;
}

#callboard li {
	padding:0;
} 

#callboard a {
	font-size: 14px;
	color: #666;
}

#MiddleRem {
	width: 100%;
	height: 407px;
	background: #EEEDEB;
	/*position: absolute;*/
}

#MiddleRem .midRem {
	width: 1100px;
	height: 407px;
	background: #EEEDEB;
	margin: 0 auto;
	/*border: 1px solid black;*/
	/*position: absolute;*/
	position: relative;
	/*left: 100px;*/
}

.midRem .leftRem {
	width: 469px;
	height: 332px;
	/*border: 1px solid red;*/
	position: absolute;
	left: 60px;
	top: 35px;*/
	float: left;
	background: #fff;
}

.midRem .leftRem img {
	position: absolute;
	top: 0px;
}

.midRem .leftRem .Title {
	font-size: 16px;
	position: absolute;
	top: 249px;
	left: 20px;
	color: #323232;
	line-height: 22px;
}

.midRem .leftRem .detail {
	width: 400px;
	position: absolute;
	top: 280px;
	left: 20px;
}

.midRem .leftRem span {
	font-size: 14px;
	color: #666;
	line-height: 22px;
	
}

.midRem .leftRem .More {
	font-size: 14px;
	color: #ee3032; 
}

.midRem .rightRem {
	width: 469px;
	height: 332px;
	/*border: 1px solid red;*/
	position: absolute;
	right: 60px;
	top: 35px;
	/*float: right;
	margin-right: 60px;
	margin-top: 35px;*/
	background: #fff;
}

.midRem .rightRem .Title {
	font-size: 16px;
	position: absolute;
	top: 249px;
	left: 20px;
	color: #323232;
	line-height: 22px;
}

.midRem .rightRem .detail {
	width: 400px;
	position: absolute;
	top: 280px;
	left: 20px;
}

.midRem .rightRem span {
	font-size: 14px;
	color: #666;
	line-height: 22px;
	
}

.midRem .rightRem .More {
	font-size: 14px;
	color: #ee3032; 
}

#midtShow {
	width: 100%;
	height: 299px;
}

#midtShow .productShow {
	width: 1100px;
	height: 299px;
	margin: 0 auto;
}

#midtShow .productShow .productTitle {
	width: 150px;
	height: 121px;
	margin: 0 auto;
	position: relative;
}

#midtShow .productShow .productTitle div {
	width: 50px;
	height: 50px;
	background: url(../images/index_20.jpg) no-repeat;
	position: absolute;
	top: 40px;
	left: 5px;
}

#midtShow .productShow .productTitle span {
	font-size: 20px;
	color: #424242;
	line-height: 121px;
	position: absolute;
	top: 0;
	left: 60px;
}
 
.picScroll-left {
	width: 1100px;
	height: 178px;
	/*margin: 0 auto;*/
	/*border: 1px solid black;*/
	position: relative;
	
}

.picScroll-left .hd .next {
	display: block;
	width: 41px;
	height: 178px;
	background: url(../images/index_40.jpg);
	position: absolute;
	left: -10px;
	cursor:pointer;
}

.picScroll-left .hd .prev {
	display: block;
	width: 41px;
	height: 178px;
	background: url(../images/index_05.jpg);
	position: absolute;
	right: -10px;
	cursor:pointer;
}

.picScroll-left .bd {
	width: 1030px;
	height: 178px;
	/*border: 1px solid black;*/
	margin: 0 auto;
	overflow:hidden
}

.picScroll-left .bd ul li{ 
	margin-left:8px; 
	float:left; 
	_display:inline; 
	overflow:hidden; 
	text-align:center;  
}

.picScroll-left .bd ul li .pic{ 
	text-align:center; 
}

.picScroll-left .bd ul li .pic img{ 
	width:332px; 
	height:176px; 
	display:block; 
	border:1px solid #ccc;  
}
		/*.picScroll-left .bd ul li .pic a:hover img{ border-color:#999;  }*/
		/*.picScroll-left .bd ul li .title{ line-height:24px;   }*/

.picScroll-left .bd ul li{ 
	margin-left:8px; 
	float:left; 
	_display:inline; 
	overflow:hidden; 
	text-align:center;  
}

.picScroll-left .bd ul li .pic{ 
	text-align:center; 
}

.picScroll-left .bd ul li .pic img{ 
	width:332px; 
	height:176px; 
	display:block; 
	border:1px solid #ccc; 
}

#midNews {
	width: 100%;
	height: 433px;
}

/*#midNews .newsCenter {
	width: 1100px;
	height: 433px;
	margin: 0 auto;
	border: 1px solid red;
}*/

#midNews .newsCenter .newsCenterTitle {
	width: 150px;
	height: 93px;
	margin: 0 auto;
	position: relative;
	/*border: 1px solid black;*/
}

#midNews .newsCenter .newsCenterTitle div {
	width: 50px;
	height: 50px;
	background: url(../images/index_27.jpg) no-repeat;
	position: absolute;
	top: 30px;
	left: 5px;
}

#midNews .newsCenter .newsCenterTitle span {
	font-size: 20px;
	color: #424242;
	/*line-height: 93px;*/
	position: absolute;
	top: 40px;
	left: 60px;
}

#midNews .newsCenter .newsCenterShow {
	width: 100%;
	height: 340px;
	background: #EEEDEB;
	
}

#midNews .newsCenter .newsCenterShow ul {
	width: 1100px;
	height: 340px;
	margin: 0 auto;
	position: relative;
	/*border: 1px solid black;*/
}

#midNews .newsCenter .newsCenterShow ul li {
	display: block;
	width: 507px;
	height: 106px;
	/*border: 1px solid black;*/
}

#midNews .newsCenter .newsCenterShow ul .news_1 {
	position: absolute;
	top: 47px;
	left:1px;
}

#midNews .newsCenter .newsCenterShow ul .news_2 {
	position: absolute;
	top: 47px;
	right:2px;
}

#midNews .newsCenter .newsCenterShow ul .news_3 {
	position: absolute;
	bottom: 57px;
	left: 1px;
}

#midNews .newsCenter .newsCenterShow ul .news_4 {
	position: absolute;
	bottom: 57px;
	right: 2px;
}

#midNews .newsCenter .newsCenterShow ul span {
	font-size: 14px;
	color: #414141;
	position: absolute;
	top: 4px;
	right: 2px;
}

#midNews .newsCenter .newsCenterShow ul i {
	font-size: 14px;
	color: #414141;
	position: absolute;
	top: 30px;
	left: 230px;
}

#midNews .newsCenter .newsCenterShow ul a {
	width: 90px;
	height: 27px;
	background: #767676;
	border-radius: 5px;
	position: absolute;
	top: 68px;
	left: 230px;
	color: #fff;
	line-height: 27px;
	font-size: 14px;
	text-align: center;
}

#midNews .newsCenter .newsCenterShow ul a:hover {
	background: #782B90;
}

#bottomBlogroll {
	width: 100%;
	height: 156px;
}

#bottomBlogroll .blogrollTittle {
	width: 150px;
	height: 71px;
	margin: 0 auto;
	position: relative;
	/*border: 1px solid black;*/
}


#bottomBlogroll .blogrollTittle div {
	width: 50px;
	height: 50px;
	background: url(../images/index_36.jpg) no-repeat;
	position: absolute;
	bottom: 3px;
	left: 5px;
}

#bottomBlogroll .blogrollTittle span {
	font-size: 20px;
	color: #424242;
	/*line-height: 93px;*/
	position: absolute;
	top: 29px;
	left: 60px;
}

#bottomBlogroll .blogrollShow {
	width: 1100px;
	height: 63px;
	margin: 0 auto;
	/*border: 1px solid black;*/
	/*padding-left: 10px;*/
}

#bottomBlogroll .blogrollShow a {
	display: block;
	width: 182px;
	height: 61px;
	border: 1px solid #D5D5D5;
	float: left;
	border-right: 0px;
}

#bottom {
	width: 100%;
	height: 98px;
	background: #5C5C5C;
	border-top: 1px solid #676767;
}

#bottom .bottom_1 {
	width: 788px;
	margin: 0 auto;
	margin-top: 30px;
}

#bottom .bottom_1 span {
	color: #e7e7e7;
	font-size: 14px;
	line-height: 16px;
}

#bottom .bottom_1 a {
	color: #e7e7e7;
	font-size: 14px;
	line-height: 16px;
}

#bottom .bottom_2 {
	width: 826px;
	margin: 0 auto;
	margin-top: 5px;
}

#bottom .bottom_2 span {
	color: #e7e7e7;
	font-size: 14px;
	line-height: 16px;
}
