@charset "UTF-8";

* {
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	color: #808080;
	font-family: 宋体;
}

a {
	text-decoration: none;
	/*display: block;*/
}

li {
	list-style: none;
}

input {
	border: none;
}

/*顶部菜单开始*/
#top_meun {
	width: 100%;
	height: 34px;
	background: url(../imags/top_meun.gif) repeat-x;
}

#top_meun .meun_1 {
	width: 1200px;
	height: 31px;
	margin: 0 auto;
	/*border: 1px solid blue;*/

}

/*顶部菜单left开始*/
#top_meun .meun_left {
	height: 31px;
	float: left;
	/*border-right: 1px solid blue;*/
}
#top_meun .meun_left .hi {
	line-height: 32px;
	float: left;
	padding-right: 11px;
}

#top_meun .meun_left .zhuce {
	line-height: 32px;
	float: left;
	padding-right: 14px;
}

#top_meun .meun_left .mine {
	display: block;
	line-height: 32px;
	float: left;
	padding-right: 15px;
}

#top_meun .meun_left .mine:hover {
	color: rgb(169,0,0);
}
/*顶部菜单left结束*/

/*顶部菜单right开始*/
#top_meun .meun_right {
	line-height: 31px;
	float: right;
}
#top_meun .meun_right .mine_1 {
	float: left;
	width: 62px;
	height: 31px;
	background: url(../imags/vanclsprite.png) no-repeat 53px 10px;
	padding-right: 16px;
}
#top_meun .meun_right a:hover{
	color: rgb(160,0,0);
}

#top_meun .meun_right .mine_2 {
	float: left;
	width: 62px;
	height: 31px;
	background: url(../imags/vanclsprite.png) no-repeat 53px -20px;
	padding-right: 16px;
}

#top_meun .meun_right .mine_3 {
	float: left;
	width: 62px;
	height: 31px;
	background: url(../imags/mine_3.png) no-repeat 53px 8px;
	padding-right: 17px;
}

#top_meun .meun_right .mine_4 {
	float: left;
	width: 18px;
	height: 31px;
	background: url(../imags/weixin.jpg) no-repeat 0px 7px;
	padding-right: 2px;	
}

#top_meun .meun_right .mine_5 {
	float: left;
	width: 18px;
	height: 31px;
	background: url(../imags/weibo.jpg) no-repeat 0px 7px;;
}

/*顶部菜单right结束*/
/*顶部菜单结束*/

/*顶部广告图开始*/
#top_box {
	width: 100%;
	height: 50px;
	background: #e11629;
}

#top_box .top_pic {
	display: block;
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}
/*顶部广告图结束*/

/*logo+搜索区开始*/
#l_s {
	width: 1200px;
	height: 92px;
	margin: 0 auto;
	/*border: 1px solid blue;
	border-top: none;*/
	position: relative;
}

#l_s .logo {
	width: 166px;
	height: 48px;
	background: url(../imags/vanclsprite.png) no-repeat 0px -59px;
	/*border: 1px solid red;*/
	position: absolute;
	top: 20px;
	left: 33px;
}

#l_s .search {
	position: absolute;
	top: 28px;
	left: 641px;
}

#l_s .search .text {
	width: 389px;
	height: 27px;
	border: 1px solid #c9caca;
	text-indent: 5px;
	float: left;
}

#l_s .search .button_1 {
	width: 49px;
	height: 29px;
	background: url(../imags/vanclsprite.png) no-repeat -99px 0px;
	float: left;
}

#l_s .shop_car .button_2 {
	width: 107px;
	height: 29px;
	background: url(../imags/vanclsprite.png) no-repeat -153px 0px;
	color: white;
	border: 1px solid #c1383e;
	padding-top: 0px;
	padding-left: 13px; 
	font-size: 12px;

}

#l_s .shop_car {
	position: absolute;
	top: 28px;
	right: 0px;
}

#l_s .tags {
	position: absolute;
	top: 65px;
	left: 664px;
}

#l_s .tags .hot {
	/*height: 30px;*/
	/*width: 100px;*/
	float: left;
	/*border: 1px solid red;*/
	padding-right: 10px; 
}
/*logo+搜索区结束*/

/*中间导航条区域开始*/
#mid_meun {
	width: 1200px;
	height: 49px;
	margin: 0 auto;
	background: #efefef;
}

#mid_meun .meun_left {
	width: 260px;
	height: 49px;
	background: #b81c22;
	float: left;
}

#mid_meun .meun_left a{
	font-size: 17px;
	color: white;
	line-height: 49px;
	font-family: 微软雅黑;
	display: block;
	text-align: center;
}

/*#mid_meun .meun_right {
	width: 940px;
	height: 49px;
	float: left;
}*/

/*#mid_meun .meun_right .meun_t {
	
	background: red;
}*/

#mid_meun .meun_right a {
	font-family: 微软雅黑;
	font-size: 16px;
	line-height: 49px;
	float: left;
	display: block;
	width: 117.5px;
	height: 49px;
	text-align: center;
}

#mid_meun .meun_right a:hover {
	color: rgb(184,28,34);
	background: #e5e6e6;
}
/*中间导航条区域结束*/

/*中部展示区域开始*/
#mid_show {
	width: 1200px;
	height: 493px;
	margin: 0 auto;
	position: relative;
	/*border: 1px solid orange;*/
	border-top: none;

}

#mid_show #show_meun {
	width: 260px;
	height: 490px;
	float: left;
	/*border: 1px solid #c8c8c9;*/
/*	position: absolute;*/
}

#mid_show #show_meun .meun_top {
	width: 260px;
	height: 260px;
	border: 1px solid #c8c8c9;
	position: absolute;
	top: 17px;
	left: 0px;
}

#mid_show #show_meun .top_1 {
	width: 260px;
	height: 71px;
	border-bottom: 1px solid #c8c8c9;
	position: relative;
}

#mid_show .top_1 .word_1 {
	font-size: 14px;
	color: rgb(184,28,34);
	/*border: 1px solid blue;*/ 
	display: block;
	padding: 0px 3px;
	position: absolute;
	top: -10px;
	left: 36px;
	background: white;
}
#mid_show .top_1 .word_2{
	font-family: 微软雅黑;
	font-size: 14px;
	color: rgb(163,162,162);
	position: absolute;
	top: 20px;
	left: 36px;
	line-height: 16px;
}

#mid_show .top_1 p {
	position: absolute;
	top: 46px;
	left: 36px;
}

#mid_show .top_1 a {
	display: block;
	float: left;
	line-height: 20px;
	padding: 0px 5px;
	margin-right: 2px; 
}

#mid_show .top_1 .word_3 {
	color: rgb(184,28,34);
}

#mid_show .top_1 .word_4:hover {
	color: rgb(184,28,34);
	background: #e5e6e6;
}

#mid_show .top_2 {
	width: 258px;
	height: 62px;
	border-bottom: 1px solid #c8c8c9;
	position: relative;
}

#mid_show .top_2 a {
	display: block;
	float: left;
	line-height: 20px;
	padding: 0px 5px;
	margin-right: 2px; 
}

#mid_show .top_2 .word_1 {
	font-family: 微软雅黑;
	font-size: 14px;
	color: rgb(163,162,162);
	position: absolute;
	top: 13px;
	left: 35px;
	line-height: 16px;
}

#mid_show .top_2 .word_2 {
	color: rgb(184,28,34);
}

#mid_show .top_2 .word_3:hover {
	color: rgb(184,28,34);
	background: #e5e6e6;
}

#mid_show .top_2 p {
	position: absolute;
	top: 35px;
	left: 35px;
}

#mid_show .meun_mid {
	width: 260px;
	height: 134px;
	border: 1px solid #c8c8c9;
	position: absolute;
	top: 293px;
	left: 0px;
}

#mid_show .meun_buttom {
	width: 260px;
	height: 47px;
	border: 1px solid #c8c8c9;
	position: absolute;
	top: 445px;
	left: 0px;
}

#mid_show .meun_buttom .top_3 {
	position: absolute;
	top: 20px;
	left: 36px;
}

#mid_show #pic {
	position: absolute;
	top: 17px;
	left: 270px;
}



/*中部展示区域结束*/



















