@charset "UTF-8";

* {
	padding: 0px;
	margin: 0px;
	color: #808080;
	font-family: 宋体;
	font-size: 12px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

input {
	border: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
}

/*顶部灰色菜单区域*/
#top_gray {
	width: 100%;
	height: 33px;
	background: url(../images/top.gif) repeat-x;
}

#top_gray #top_meun {
	width: 1200px;
	height: 33px;
	margin: 0 auto;
	/*border: 1px solid orange;*/
}

#top_gray #top_meun #top_meun_left {
	float: left;
}

#top_gray #top_meun #top_meun_left .welcom{
	float: left;
	line-height: 32px;
	width: 144px;
	/*padding-right: 12px*/
}

#top_gray #top_meun #top_meun_left .left_in {
	float: left;
	line-height: 32px;
	padding-right: 14px;
}

#top_gray #top_meun #top_meun_left .left_mine{
	float: left;
	line-height: 32px;
}

#top_gray #top_meun #top_meun_left .left_mine .left_mine_1 {
	float: left;
	padding-right: 15px;
}

#top_gray #top_meun #top_meun_left .left_mine a:hover {
	color: #A10000;
}

#top_gray #top_meun #top_meun_right {
	float: right;
	/*border: 1px solid red;*/
	/*position: relative;*/
}

#top_gray #top_meun #top_meun_right #meun_right_1 {
	float: right;
	/*position: absolute;
	top: 3px;
	right: 0px;*/
}

#top_gray #top_meun #top_meun_right #meun_right_1 .right_meun_1 {
	float: left;
	display: block;
	width: 61px;
	height: 31px;
	/*border: 1px solid red;*/
	line-height: 32px;
	padding-left: 4px; 
	margin-right: 9px;
	background: url(../images/vanclsprite.png) no-repeat 52px 10px;
}

#top_gray #top_meun #top_meun_right #meun_right_1 .right_meun_1:hover {
	color: #A10000;
}

#top_gray #top_meun #top_meun_right #meun_right_1 .right_meun_2 {
	float: left;
	display: block;
	width: 66px;
	height: 31px;
	/*border: 1px solid red;*/
	line-height: 32px;
	padding-left: 5px; 
	margin-right: 15px;
	/*background: url(../images/vanclsprite.png) no-repeat 52px 10px;*/
}

#top_gray #top_meun #top_meun_right #meun_right_1 .right_meun_2:hover {
	color: #A10000;
}

#top_gray #top_meun #top_meun_right #meun_right_1 #right_meun_2 {
	background: url(../images/vanclsprite.png) no-repeat 57px -20px;
}

#top_gray #top_meun #top_meun_right #meun_right_1 #right_meun_3 {
	background: url(../images/top_1.png) no-repeat 54px 6px;
}

#top_gray #top_meun #top_meun_right .wb{
	display: block;
	float: left;
	width: 18px;
	height: 32px;
	background: url(../images/top_2.jpg) no-repeat 0px 7px;
	padding-right: 2px; 
}

#top_gray #top_meun #top_meun_right .wx{
	display: block;
	float: left;
	width: 18px;
	height: 32px;
	background: url(../images/top_3.jpg) no-repeat 0px 7px;
}

/*顶部灰色菜单区域结束*/

/*logo + search 区域开始*/

#LogoSearch {
	width: 1200px;
	height: 92px;
	position: relative;
	margin: 0 auto;
	/*border: 1px solid orange;*/
}

#LogoSearch #logo {
	width: 166px;
	height: 47px;
	/*border: 1px solid blue;*/
	background: url(../images/vanclsprite.png) no-repeat 0px -59px;
	position: absolute;
	top: 20px;
	left: 40px;
}

#LogoSearch #search {
	width: 558px;
	height: 29px;
	/*border: 1px solid blue;*/
	position: absolute;
	top: 28px;
	right: 0px;
}

#LogoSearch #search #search_form {
	float: left;
}

#LogoSearch #search #search_form .search_text {
	width: 389px;
	height: 27px;
	border: 1px solid #cbccce;
	float: left;
	color: rgb(0,0,0);
	text-indent: 5px;
	text-align: 27px;
}

#LogoSearch #search #search_form .search_1 {
	width: 49px;
	height: 29px;
	/*border: 1px solid #cbccce;*/
	border-left: 0px;
	float: left;
	background: url(../images/vanclsprite.png) no-repeat -99px 0px;
	margin-right: 13px;
}

#LogoSearch #search #search_form .search_2 {
	width: 105px;
	height: 29px;
	border: 1px solid #C1383E;
	float: right;
	background: url(../images/vanclsprite.png) no-repeat -154px 0px;
	color: white;
	line-height: 27px;
	text-indent: 4px;
}

#LogoSearch #KeyWord {
	width: 400px;
	height: 18px;
	position: absolute;
	top: 65px;
	left: 661px;
	float: left;
	/*border: 1px solid blue;*/
}

#LogoSearch #KeyWord .word {
	float: left;
	/*display: block;
	background: red;*/
	padding-left: 10px;
	color: 	rgb(114,113,113);
	line-height: 18px;
}

#LogoSearch #KeyWord #word_p {
	padding-left: 0px;
}

#LogoSearch #KeyWord #word_a {
	padding-left: 4px;
}

/*logo + search 区域结束*/

/*上部菜单区域*/
#shang_meun {
	width: 1200px;
	height: 49px;
	margin: 0 auto;
	/*border: 1px solid orange;*/
}

#shang_meun #shang_meun_left {
	width: 260px;
	height: 49px;
	float: left;
	background: #b81c22;
	font-family: 微软雅黑;
	font-size: 17px;
	line-height: 49px;
	color: white;
	text-indent: 54px;
	/*background: #b81c22 url(../images/vanclsprite.png) no-repeat -168px -186px;*/
	position: relative;
}

#shang_meun #shang_meun_left #shang_meun_left_1 {
	width: 20px;
	height: 14px;
	position: absolute;
	top: 17px;
	left: 212px;
	background: url(../images/vanclsprite.png) no-repeat -380px -206px;
}

#shang_meun #shang_meun_right {
	width: 940px;
	height: 49px;
	float: left;
	/*border: 1px solid red;*/
	background: #efefef;
}

#shang_meun #shang_meun_right .shang_meun_1 {
	width: 117.5px;
	height: 49px;
	float: left;
	text-align: center;
	line-height: 49px;
	font-family: 微软雅黑;
	font-size: 16px;
	color: rgb(114,113,113);
}

#shang_meun #shang_meun_right .shang_meun_1:hover {
	color: #B81C22;
	background: #E5E6E6;
}

/*上部菜单区域结束*/

/*title区域*/
#top_title {
	width: 1200px;
	height: 77px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
}

#top_title #cengji {
	width: 1200px;
	height: 36px;
	/*border: 1px solid blue;*/
	float: left;
}

#top_title #cengji .cengji_1 {
	line-height: 36px;
	color: rgb(51,51,51);
	float: left;
}

#top_title #cengji .cengji_1:hover {
	color: rgb(161,0,0);
}

#top_title #cengji .cengji_2 {
	line-height: 36px;
	color: rgb(0,0,0);
	float: left;
	padding: 0px 15px 0px 9px;
}

#top_title #cengji .cengji_title {
	line-height: 36px;
	color: rgb(0,0,0);
	float: left;
	padding-left: 8px; 
}

#top_title #Htitle {
	width: 1200px;
	height: 41px;
	float: left;
	/*border: 1px solid red;*/
}

#top_title #Htitle .title_1 {
	/*width: 310px;*/
	height: 41px;
	line-height: 41px;
	font-family: 微软雅黑;
	font-size: 18px;
	font-weight: 700;
	color: rgb(51,51,51);
	padding: 0px 9px;
	float: left;
}

#top_title #Htitle .title_2 {
	font-size: 14px;
	font-family: 微软雅黑;
	/*width: 123px;*/
	height: 41px;
	line-height: 41px;
	color: rgb(161,0,0);
	font-weight: 700;
	float: left;
}

#top_title #Htitle #title_right {
	width: 173px;
	height: 41px;
	float: right;
	/*border: 1px solid red;*/
	padding-right: 25px;
}

#top_title #Htitle #title_right .chanpin {
	font-size: 14px;
	color: rgb(128,128,128);
	float: left;
	line-height: 41px;
}

#top_title #Htitle #title_right .chanpin_1 {
	font-size: 12px;
	float: left;
	line-height: 41px;
	padding-left: 13px;
	padding-right: 11px;
}
/*title区域结束*/

/*中部left图片展示区域*/
#show {
	width: 1200px;
	height: 477px;
	margin: 0 auto;
	border-top: 1px solid #e5e6e6;  
	border-bottom: 1px solid #e5e6e6; 
	position: relative;
	/*float: left;*/
}

#show #show_pic {
	width: 554px;
	height: 477px;
	/*border: 1px solid orange;*/
	float: left;
}

#show #show_pic #show_small_pic {
	width: 72px;
	height: 477px;
	/*border:1px solid blue; */
	float: left;
}

#show #show_pic #show_small_pic .small_type {
	width: 70px;
	height: 26px;
	/*border: 1px solid black;*/
	float: left;
	background: url(../images/vanclsprite_1.png) no-repeat -3271px 20px;
}

#show #show_pic #show_small_pic .small_pic {
	width: 70px;
	height: 70px;
	border: 1px solid #b4b4b4;
	float: left;
	margin-top: 11px;
	position: relative;
	/*background: #a10000;*/
/*	background-size: 68px 68px;
	background:  */
}

#show #show_pic #show_small_pic #small_pic_1{
	border: 1px solid #a10000;
	background: #a10000;
}

#show #show_pic #show_small_pic .small_pic:hover {
	border: 1px solid #a10000;
	background: #a10000;
}

#show #show_pic #show_small_pic .small_pic img {
	width: 68px;
	height: 68px;
	position: absolute;
	top: 1px;
	left: 1px;
}

#show #show_pic #show_small_pic .small_type_1 {
	width: 70px;
	height: 25px;
	/*border: 1px solid black;*/
	float: left;
	margin-top: 11px;
}

#show #show_pic #show_small_pic .small_type_1 .small_type_1_1 {
	width: 70px;
	height: 5px;
	/*line-height: 25px;*/
	background: url(../images/vanclsprite_1.png) no-repeat -2px -136px;
}

#show #show_pic #show_big_pic {
	width: 400px;
	height: 400px;
	border: 1px solid #b4b4b4;
	position: absolute;
	top: 39px;
	left: 152px;
}

#show #show_pic #show_big_pic img {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 0px;
	left: 0px;
}
/*中部left图片展示区域结束*/

/*中部right选择区域*/
#show_right {
	width: 644px;
	height: 477px;
	/*border: 1px solid orange;*/
	float: right;
	position: relative;
}

#show_right #pay {
	/*width: 120px;*/
	/*height: 20px;*/
	/*border: 1px solid red;*/
	position: absolute;
	top: 42px;
	left: 80px;
}

#show_right #pay .word_1 {
	color: #a10000;
	float: left;
	padding-top: 12px;
}

#show_right #pay .word_2 {
	color: #a10000;
	font-family: Tahoma;
	font-size: 24px;
	float: left;
}

#show_right #color {
	/*border: 1px solid blue;*/
	position: absolute;
	top: 89px;
	left: 80px;
}

#show_right #color .color_1 {
	color: rgb(102,102,102);
	float: left;
}

#show_right #color .s_blue {
	width: 93px;
	height: 38px;
	border: 2px solid #a10000; 
	float: left;
	background: white;
	/*background-size: 38px 76px;*/
	position: relative;
}

#show_right #color .s_blue .bg_s_blue {
	width: 38px;
	height: 38px;
	background:  url(../images/vanclsprite_2.jpg) no-repeat 1px 1px;
	position: absolute;
	top: 0px;
	left: 0px;
}
 
#show_right #color .s_blue .color_2 {
	color: rgb(102,102,102);
	width: 57px;
	height: 26px;
	float: right;
	/*text-indent: 44px;*/
	/*line-height: 25px;*/
	overflow: hidden;
	position: absolute;
	top: 1px;
	right: 1px;
	background: white;
	line-height: 24px;
	text-indent: 5px;
}

#show_right #color .s_blue .tap_1 {
	width: 12px;
	height: 12px;
	background: white url(../images/vanclsprite.png) no-repeat right -115px;
	position: absolute;
	top: 26px;
	right: 0px;
}

#show_right #color .q_blue {
	width: 95px;
	height: 40px;
	border: 1px solid #b4b4b4; 
	float: left;
	background: white;
	/*background-size: 38px 76px;*/
	position: relative;
	margin-left: 8px; 
}

#show_right #color .q_blue .color_3 {
	color: rgb(102,102,102);
	width: 57px;
	height: 26px;
	float: right;
	/*text-indent: 44px;*/
	/*line-height: 25px;*/
	overflow: hidden;
	position: absolute;
	top: 1px;
	right: 1px;
	background: white;
	line-height: 24px;
	text-indent: 5px;
}

#show_right #color .q_blue .bg_q_blue {
	width: 38px;
	height: 38px;
	background:  url(../images/vanclsprite_2.jpg) no-repeat 1px -35px;
	position: absolute;
	top: 0px;
	left: 0px;
}

/*#show_right #color .q_blue .tap_1 {
	width: 12px;
	height: 12px;
	background: white url(../images/vanclsprite.png) no-repeat right -115px;
	position: absolute;
	top: 28px;
	right: 0px;
}*/

#show_right #color .q_blue:hover {
	/*background: #a10000;*/
	border: 1px solid #a10000;
	/*background: white url(../images/vanclsprite.png) no-repeat right -115px;*/
}

#show_right #size {
	position: absolute;
	top: 151px;
	left: 80px;
/*	border: 1px solid orange;*/
	float: left;
}

#show_right #size .size_title {
	color: rgb(102,102,102);
	float: left;
}

#show_right #size .size_1 {
	width: 32px;
	height: 24px;
	border: 1px solid #c8c8c8;
	float: left;
	margin-right: 5px;
}

#show_right #size .size_1 .title_1 {
	display: block;
	color: rgb(51,51,51);
	width: 32px;
	height: 24px;
	line-height: 24px;
	text-align: center;
}

#show_right #size .size_1:hover {
	border: 1px solid #a10000;
}

#show_right #number {
	/*border: 1px solid blue;*/
	position: absolute;
	top: 198px;
	left: 80px;
	float: left;
}

#show_right #number .number_title {
	color: rgb(102,102,102);
	float: left;
}

#show_right #number select {
	width: 51px;
	height: 18px;
	/*border: 1px solid #7a7a7a;*/
	float: left;
	/*background:none;*/
	/*appearance:none;
  -moz-appearance:none;
 /* -webkit-appearance:none;*/
}

/*#show_right #number #box_1 { 
	display:block; 
	width:33px; 
	overflow:hidden; 
}   */

/*#show_right #number #box_2  { 
	width: 51px; 
	height: 18px; 
	border: 1px solid #7a7a7a; 
	border-right:none; 
	background:#fff url("../images/vanclsprite.png")  no-repeat -4px -4px;  
	display:block;
}*/

/*#show_right #number select:hover {
	border: 1px solid black;

}*/

#show_right #number .nt_1 {
	float: left;
	/*position: relative;*/
}

/*#show_right #number .nt_1 .nt_2 {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 0px;
	right: 0px;
	opacity: 0.01;
	z-index: 2
}*/

#show_right #chance {
	float: left;
	position: absolute;
	top: 232px;
	left: 80px;
	/*border: 1px solid orange;*/
}

#show_right #chance .chance_title {
	color: rgb(102,102,102);
	float: left;
	line-height: 22px;
}

#show_right #chance .chance_1 {
	color: rgb(102,102,102);
	font-weight: 700;
	line-height: 22px;
}

#show_right #chance .chance_2 {
	color: rgb(161,0,0);
	font-weight: 700;
	line-height: 22px;
	margin-left: 8px;
}

#show_right #buy {
	float: left;
	position: absolute;
	top: 270px;
	left: 81px;
	/*border: 1px solid orange;*/
}

#show_right #buy .button_1 {
	width: 166px;
	height: 31px;
	border: 1px solid #b71b21;
	background: #f7abaf;
	color: rgb(165,3,9);
	font-size: 14px;
	float: left;
}

#show_right #buy .button_2 {
	width: 166px;
	height: 31px;
	border: 1px solid #b71b21;
	background: url(../images/vanclsprite.png) no-repeat -148px -286px;
	color: rgb(165,3,9);
	font-size: 14px;
	float: left;
	margin-left: 13px;
}
/*中部right选择区域结束*/
/*中部产品介绍区域*/
#presentation {
	width: 1200px;
	height: 111px;
	margin: 0 auto;
	border-bottom: 1px dotted #999999;
	/*position: relative;*/
}

#presentation #cpms {
	font-weight: 700;
	color: rgb(153,153,153);
	/*position: absolute;
	top: 25px;
	left: 0px;*/
	/*border: 1px solid blue;*/
	padding-top: 25px;
}

#presentation #detail {
	color: rgb(102,102,102);
	/*position: absolute;
	top: 52px;
	left: 24px;*/
	/*height: 74px;*/
	line-height: 20px;
	text-indent: 24px;
	margin-top:9px; 
}

#nature {
	width: 1200px;
	height: 115px;
	margin: 0 auto;
	/*border: 1px solid blue;*/
}

#nature #cpsx {
	font-weight: 700;
	color: rgb(153,153,153);
	padding-top: 22px;
}

#nature #xq_cpsx {
	width: 1200px;
	height: 80px;
	float: left;
	background: #f9f9f9;
	/*background: black;*/
	/*position: relative;*/
   /* border: 1px solid white;*/
}

#nature #xq_cpsx .n_cpsx {
	width: 199px;
	height: 60px;
	line-height: 80px;
	border-right: 1px solid white;
	float: left;
	/*background: #f9f9f9;*/
	/*position: absolute;
	top: 10px;
	left: 5px;*/
	margin-top: 10px; 
}

#nature #xq_cpsx .n_cpsx .cpsx_1 {
	width: 199px;
	height: 20px;
	float: left;
	overflow: hidden;
	/*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*border: 1px solid white;*/
}

#nature #xq_cpsx .n_title {
	/*height: 20px;*/
	color: rgb(169,0,0);
	line-height: 20px;
	text-indent: 10px;
	/*text-overflow: ellipsis; */
	float: left;
}

#nature #xq_cpsx .nc_1 {
	color: #333333;
	line-height: 20px;
	float: left;
}

#nature #xq_cpsx .nc_1:hover {
	color: rgb(161,0,0);
}

#nature #xq_cpsx .douhao {
	color: #333333;
	line-height: 20px;
	float: left;
}

#nature #xq_cpsx .n_title_1 {
	line-height: 20px;
	float: left;

}
/*中部产品介绍区域结束*/

















