@charset "UTF-8";

* {
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	font-family: 宋体;
	color: #666666;
}

a {
	text-decoration: none;
}

input {
	border: none;
}

li {
	list-style: none;
}

table {
	border-collapse:collapse;
	/*border-spacing: 0px;*/
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

em {
	font-style: normal;
}
/*顶部菜单*/
#top_bg {
	width: 100%;
	height: 30px;;
	background: #f1f1f1;
}

#top_bg #top_meun {
	width: 1210px;
	height: 30px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	background: #f1f1f1;

}

#top_bg #top_meun #send {
	width: 92px;
	height: 30px;
	float: left;
	/*border: 1px solid red;*/
}

#top_bg #top_meun #send:hover {
	background: white;
}

#top_bg #top_meun #send .SendTitle {
	display: block;
	line-height: 30px;
	float: left;
	text-indent: 10px;
}

#top_bg #top_meun #send .SendTitleCity {
	display: block;
	line-height: 30px;
	float: left;
}

#top_bg #top_meun #send .tag {
	display: block;
	width: 11px;
	height: 5px;
	font-size: 14px;
	margin-top: 13px;
	margin-left: 5px;
	line-height: 2px;
	font-family: consolas;
	color: rgb(106, 106, 106);
	float: left;
	/*border: 1px solid red;*/
	overflow: hidden;
}

#top_bg #top_meun #MyJD {
	height: 30px;
	float: right;
	/*border: 1px solid blue;
*/
}

#top_bg #top_meun #MyJD #hello {
	display: block;
	width: 138px;
	height: 12px;
	border-right: 1px solid #dddddd;
	margin-top: 9px;
	float: left;
}

#top_bg #top_meun #MyJD #hello .dl {
	float: left;
}

#top_bg #top_meun #MyJD #hello .dl:hover {
	color: #c81623;
}

#top_bg #top_meun #MyJD #hello .zc {
	color: #c81623;
	float: left;
	padding-left: 7px;
}

#top_bg #top_meun #MyOrder {
	margin-top: 9px;
	float: left; 
	position: relative;
}

#top_bg #top_meun #MyOrder a {
	padding: 0px 11px 0px 10px;
	border-right: 1px solid #dddddd;
	float: left;
}

#top_bg #top_meun #MyOrder .tag {
	display: block;
	width: 11px;
	height: 5px;
	font-size: 14px;
	margin-top: 4px;
	margin-left: 5px;
	line-height: 2px;
	font-family: consolas;
	color: rgb(106, 106, 106);
	float: right;
	/*border: 1px solid red;*/
	overflow: hidden;
}

#top_bg #top_meun #MyOrder #MoblieJD {
/*	width: 80px;*/
	height: 12px;
	margin-top: 0px;
	padding-left: 27px;
	float: left;
	/*background: url(../images/jd2015img.png) no-repeat 7px 0px;*/
	line-height: 16px;
	
}

#top_bg #top_meun #MyOrder #wzdh {
	border-right: none;
}

#top_bg #top_meun #MyOrder #MoblieTag {
	width: 15px;
	height: 20px;
	background: url(../images/jd2015img.png) no-repeat 0px 0px;
	position: absolute;
	top: -2px;
	left: 306px;
}

#top_bg #top_meun #MyOrder a:hover {
	color: #b61d1d;
}
/*顶部菜单结束*/

/*顶部宣传图区域*/
#xc_pic {
	width: 100%;
	height: 80px;
	background: #0c90da;
}

#xc_pic img {
	display: block;
	width: 1210px;
	height: 80px;
	margin: 0 auto;
}
/*顶部宣传图区域结束*/
/*上部logo、search区域*/
#LogoSearch {
	width: 1210px;
	height: 100px;
	margin: 0 auto;
	/*border: 1px solid orange;*/
	position: relative;
}

#LogoSearch #logo {
	width: 270px;
	height: 60px;
	background: url(../images/logo.png) no-repeat 0px 0px;
/*	margin-top: 20px;*/
/*	float: left;*/
	position: absolute;
	top: 20px;
}

#LogoSearch #search {
	/*margin-top: 25px;*/
	width: 538px;
	height: 36px;
	/*margin-left: 92px;*/
	/*border: 1px solid red;*/
	float: left;
	position: absolute;
	top: 25px;
	left: 362px;
}

#LogoSearch #search #text {
	width: 454px;
	height: 32px;
	border: 2px solid #b61d1d;
	text-indent: 3px;
	color: rgb(153,153,153);
	font-size: 14px;
	font-family: 微软雅黑;
	line-height: 32px;
	float: left;
}

#LogoSearch #search #button {
	width: 80px;
	height: 36px;
	color: white;
	background: #b61d1d;
	line-height: 36px;
	text-align: center;
	float: left;
	font-family: 微软雅黑;
	font-size: 16px;
}

#LogoSearch #KeyWord {
	float: left;
	position: absolute;
	top: 69px;
	left: 362px;
}

#LogoSearch #KeyWord li {
	float: left;
	padding-right: 11px;
	color: rgb(102, 102, 102);
}

#LogoSearch #KeyWord a:hover {
	color: #c81623;
}

#LogoSearch #KeyWord .HotKey {
	color: #c81623;
}

#LogoSearch #ShopCar {
	width: 139px;
	height: 34px;
	border: 1px solid #dfdfdf;
	position: absolute;
	top: 25px;
	right: 65px;
	background: #f9f9f9 url(../images/jd2015img.png) no-repeat 19px -49px;
	
}

#LogoSearch #ShopCar #MyShopCar {
	line-height: 34px;
	float: left;
	/*position: absolute;
	top: 11px;
	left: 43px;*/
	padding-left: 43px;
}

#LogoSearch #ShopCar #ShopCar_tag {
	float: left;
	line-height: 34px;
	padding-left: 21px;
	/*position: absolute;
	top: 11px;
	right: 11px;*/
}

#LogoSearch #ShopCar:hover {
	background: white url(../images/jd2015img.png) no-repeat 19px -49px;
	box-shadow: 1px 1px 1px #dfdfdf;
}

#LogoSearch #ShopCar a:hover {
	color: #c81623;
}

/*上部logo、search区域结束*/
/*上部菜单区域*/
#menu_bg {
	width: 100%;
	height: 44px;
	border-bottom: 2px solid #b1191a;
}

#menu_bg #MainMenu {
	width: 1210px;
	height: 44px;
	margin: 0 auto;
	/*border: 1px solid orange;*/
}

#menu_bg #MainMenu #AllKind {
	width: 210px;
	height: 44px;
	float: left;
	background: #b1191a;
	line-height: 44px;
	text-indent: 9px;
}

#menu_bg #MainMenu #AllKind a {
	font-size: 15px;
	font-family: 微软雅黑;
	color: white;
}

#menu_bg #MainMenu .MenuWord {
	display: block;
	float: left;
	padding: 0 20px;
	line-height: 44px;
	font-size: 15px;
	font-family: 微软雅黑;
	color: #333;
}

#menu_bg #MainMenu a:hover {
	color: #C81623;
}

#menu_bg #MainMenu #right_pic {
	width: 140px;
	height: 44px;
	background: url(../images/jerh.jpg) no-repeat 0px 2px;
	float: right;
	background-size: 140px 40px;
}
/*上部菜单区域结束*/

/*中部展示区域*/
#mid {
	width: 1210px;
	height: 466px;
	margin: 0 auto;
	/*border: 1px solid orange;*/
	position: relative;
}

/*左部菜单*/

#mid #mid_menu {
	width: 209px;
	height: 466px;
	float: left;
	border-left: 1px solid #b1191a;
	background: #c81623;
}

#mid #mid_menu .left_menu {
	width: 209px;
	height: 31px;
	float: left;
	background: #c81623;
}

#mid #mid_menu .left_menu .FirstWord {
	padding-left: 9px;
}

#mid #mid_menu li {
	float: left;
	color: white;
}

#mid #mid_menu li a {
	display: block;
	height: 31px;
	color: white;
	font-family: 微软雅黑;
	font-size: 14px;
	line-height: 31px;
	float: left;
}

#mid #mid_menu .menu_tag {
	float: right;
	line-height: 31px;
	font-size: 9px;
	padding-right: 13px;
}

#mid #mid_menu .menu_tag_1 {
	font-size: 9px;
	float:left;
	color: white;
	padding-top: 12px; 
	padding-right: 4px;
}
/*左部菜单结束*/
/*中间展示大图*/
#mid #ShowBigPic {
	position: absolute;
	top: 12px;
	right: 260px;
}
/*中间展示大图*/
/*右侧区域*/
#mid #RightShow {
	width: 248px;
	height: 452px;
	border: 1px solid #e4e4e4;
	position: absolute;
	top: 12px;
	right: 0px;
	/*float: right;
	margin-top: 12px;*/
}

#mid #RightShow #jdkb {
	/*background: red;*/
	width: 248px;
	height: 200px;
	border-bottom: 1px dashed #e4e4e4; 
}

#mid #RightShow #jdkb #jdkb_title {
	width: 248px;
	height: 43px;
	border-bottom: 1px dotted #e4e4e4; 
}

#mid #RightShow #jdkb #jdkb_title #title {
	font-size: 16px;
	font-family: 微软雅黑;
	line-height: 43px;
	color: #666666;
	float: left;
	padding-left: 15px;
}

#mid #RightShow #jdkb #jdkb_title #more {
	font-size: 12px;
	line-height: 43px;
	color: #666666;
	float: right;
	padding-right: 15px;
}

#mid #RightShow #jdkb #jdkb_title #more:hover {
	color: #C81623;
}

#mid #RightShow #jdkb #public {
	width: 248px;
	height: 156px;
	padding-top: 16px; 
	/*background: red;*/
}

/*#mid #RightShow #jdkb #public ul {
	background: blue;
	padding-top: 16px; 
}*/

#mid #RightShow #jdkb #public li {
	padding: 0px 0px 13px 15px;
}

#mid #RightShow #jdkb #public li span {
	font-size: 12px;
	padding-left: 5px;
}

#mid #RightShow #jdkb #public span:hover {
	color: rgb(200,22,35);
}

#mid #RightShow #jdkb #public b:hover {
	color: rgb(200,22,35);
}

#mid #RightShow #shfw {
	width: 248px;
	height: 252px;
}

#mid #RightShow #shfw #shfw_title {
	width: 248px;
	height: 43px;
	border-bottom: 1px dotted #e4e4e4; 
	font-size: 16px;
	font-family: 微软雅黑;
	line-height: 43px;
	color: #666666;
	text-indent: 14px;
}

#mid #RightShow #shfw #shfw_box {
	position: relative;
}

#mid #RightShow #shfw #shfw_box a {
	display: block;
	width: 61px;
	height: 69px;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	float: left;
	border-collapse:collapse;
	text-align: center;
	line-height: 105px;
	
}

#mid #RightShow #shfw #shfw_box #hf {
	width: 25px;
	height: 25px;
	background: url(../images/shfw.png) no-repeat 0px 0px;
	position: absolute;
	top: 12px;
	left: 18px;
	z-index: -1;
}

#mid #RightShow #shfw #shfw_box #jp {
	width: 25px;
	height: 25px;
	background: url(../images/shfw.png) no-repeat 0px -25px;
	position: absolute;
	top: 12px;
	left: 80px;
	z-index: -1;
}

#mid #RightShow #shfw #shfw_box #dyp {
	width: 25px;
	height: 25px;
	background: url(../images/shfw.png) no-repeat 0px -50px;
	position: absolute;
	top: 12px;
	left: 142px;
	z-index: -1;
}

#mid #RightShow #shfw #shfw_box #yx {
	width: 25px;
	height: 25px;
	background: url(../images/shfw.png) no-repeat 0px -75px;
	position: absolute;
	top: 12px;
	left: 203px;
	z-index: -1;
}

#mid #RightShow #shfw #shfw_box #cp {
	width: 25px;
	height: 25px;
	background: url(../images/shfw.png) no-repeat 0px -100px;
	position: absolute;
	top: 82px;
	left: 18px;
	z-index: -1;
}

#mid #RightShow #shfw #shfw_box #tg {
	width: 25px;
	height: 25px;
	background: url(../images/shfw.png) no-repeat 0px -125px;
	position: absolute;
	top: 82px;
	left: 80px;
	z-index: -1;
}

#mid #RightShow #shfw #shfw_box #jd {
	width: 25px;
	height: 25px;
	background: url(../images/shfw.png) no-repeat 0px -150px;
	position: absolute;
	top: 82px;
	left: 142px;
	z-index: -1;
}

#mid #RightShow #shfw #shfw_box #sdm {
	width: 25px;
	height: 25px;
	background: url(../images/shfw.png) no-repeat 0px -175px;
	position: absolute;
	top: 82px;
	left: 203px;
	z-index: -1;
}

#mid #RightShow #shfw #shfw_box #zc {
	width: 25px;
	height: 25px;
	background: url(../images/shfw.png) no-repeat 0px -200px;
	position: absolute;
	top: 152px;
	left: 18px;
	z-index: -1;
}

#mid #RightShow #shfw #shfw_box #lc {
	width: 25px;
	height: 25px;
	background: url(../images/shfw.png) no-repeat 0px -225px;
	position: absolute;
	top: 152px;
	left: 80px;
	z-index: -1;
}

#mid #RightShow #shfw #shfw_box #lpk {
	width: 25px;
	height: 25px;
	background: url(../images/shfw.png) no-repeat 0px -250px;
	position: absolute;
	top: 152px;
	left: 142px;
	z-index: -1;
}

#mid #RightShow #shfw #shfw_box #bt {
	width: 25px;
	height: 25px;
	background: url(../images/shfw.png) no-repeat 0px -275px;
	position: absolute;
	top: 152px;
	left: 203px;
	z-index: -1;
}

#mid #RightShow #shfw #shfw_box a:hover {
	color: rgb(200,22,35);
}

#mid #RightShow #shfw #shfw_box #y_x {
	border-right: none;
}

#mid #RightShow #shfw #shfw_box #s_d_m {
	border-right: none;
}

#mid #RightShow #shfw #shfw_box #z_c {
	border-bottom: none;
} 

#mid #RightShow #shfw #shfw_box #l_c {
	border-bottom: none;
}

#mid #RightShow #shfw #shfw_box #l_p_k {
	border-bottom: none;
}

#mid #RightShow #shfw #shfw_box #b_t {
 	border-right: none;
 	border-bottom: none;
}
/*#mid #RightShow #shfw #shfw_box #hf {
	background: url(../images/shfw.png) no-repeat 0px 0px;
}*/
/*右侧区域结束*/
/*中部展示区域结束*/

/*中部今日推荐*/
#recommend {
	width: 1214px;
	height: 164px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	margin-top: 10px; 
}

#recommend li {
	float: left;
	width: 250px;
	padding-right: 1px;
}

#recommend li img {
	display: block;
	
}

#recommend #jrtj {
	width: 210px;
	height: 164px;
	background: url(../images/homebg.png) no-repeat -213px -136px;
	padding-right: 0px;
}
/*中部今日推荐结束*/
/*中部猜你喜欢*/
#Enjoy {
	width: 1210px;
	height: 273px;
	margin: 0 auto;
	/*border: 1px solid orange;*/
	padding-top: 15px;
}

#Enjoy #GuessEnjoy {
	width: 1210px;
	height: 40px;
	/*border: 1px solid blue;*/
}

#Enjoy #GuessEnjoy h3 {
	font-size: 20px;
	color: rgb(102,102,102);
	line-height: 40px;
	float: left;
	font-family: 微软雅黑;
}

#Enjoy #GuessEnjoy h3+span {
	display: block;
	float: left;
	width: 225px;
	height: 15px;
	background: url(../images/homebg.png) no-repeat 0px -100px;
	margin-top: 14px;
	margin-left: 5px;
}

#Enjoy #GuessEnjoy #hyp {
	width: 61px;
	height: 40px;
	float: right;
}

#Enjoy #GuessEnjoy #hyp span {
	font-size: 12px;
	color: rgb(102,102,102);
	line-height: 40px;
	float: left;
}

#Enjoy #GuessEnjoy #hyp span+span {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	background: url(../images/homebg.png) no-repeat -351px -4px;
	margin-top: 7px;
	margin-left: 4px;
}

#Enjoy #EnjoyKind {
	width: 1208px;
	height: 231px;
	border: 1px solid #ededed;
}

#Enjoy #EnjoyKind li {
	width: 201px;
	height: 231px;
	float: left;
	/*border: 1px solid blue;*/
	position: relative;
}

#Enjoy #EnjoyKind li img {
	width: 130px;
	height: 130px;
	display: block;
	position: absolute;
	top: 20px;
	left: 35px;
}

#Enjoy #EnjoyKind li .EnjoyBorder a {
	width: 130px;
	height: 36px;
	overflow: hidden;
	font-size: 12px;
	display: block;
	color: rgb(102,102,102);
	line-height: 18px;
	position: absolute;
	top: 0px;
	left: 35px;
}

#Enjoy #EnjoyKind li .EnjoyBorder a:hover {
	color: rgb(200,22,35);
}

#Enjoy #EnjoyKind li .EnjoyBorder span {
	color: rgb(181,29,26);
	font-size: 18px;
	line-height: 18px;
	font-family: Arial,​Verdana,​"宋体";
	position: absolute;
	top: 43px;
	left: 43px;

}

#Enjoy #EnjoyKind li .EnjoyBorder em {
	color: rgb(181,29,26);
	font-size: 14px;
	font-family: Arial,​Verdana,​"宋体";
	position: absolute;
	top: 44px;
	left: 35px;
}

#Enjoy #EnjoyKind li .EnjoyBorder {
	width: 201px;
	height: 61px;
	position: absolute;
	top: 160px;
	left: 0px;
	border-right: 1px solid #ededed;
}

#Enjoy #EnjoyKind li #EnjoyBorder_1 {
	border-right: none;
}
/*中部猜你喜欢结束*/
/*中部京东特色购*/
#feature {
	width: 1210px;
	height: 459px;
	margin: 0 auto;
	/*border: 1px solid orange;*/
}

#feature #FeatureTitle {
	width: 1210px;
	font-size: 20px;
	color: rgb(102,102,102);
	font-family: 微软雅黑;
	float: left;
	/*border: 1px solid blue;*/
	line-height: 36px;
	margin-top: 20px;
}

#feature .feature_1 {
	/*float: left;*/	
	/*width: 1210px;*/
	height: 200px;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	border-left: 1px solid #ededed;
	/*background: red;*/
	display: inline-block;
}

/*#feature #feature_1 img {
	float: left;
	
}*/

#feature .feature_1 .f_1 {
	/*width: 200px;
	height: 200px;*/
	position: relative;	
	/*background: url(../images/ts_1.jpg) no-repeat;*/
	border-right: 1px solid #ededed;
	float: left;
}

#feature .feature_1 .f_1 .f_title_1 {
	width: 200px;
	height: 16px;
	line-height: 16px;
	position: absolute;
	top: 23px;
	left: 0px;
	font-size: 16px;
	font-weight: 700px;
	text-align: center;
	font-family: 微软雅黑;
}

#feature .feature_1 .f_1 .f_tag_1 {
	width: 28px;
	height: 1px;
	z-index: 2;
	background:url(../images/bg.png) no-repeat 0px 0px; 
	position: absolute;
	top: 30px;
	left: 35px;
}

#feature .feature_1 .f_1 .f_tag_2 {
	width: 28px;
	height: 1px;
	z-index: 2;
	background:url(../images/bg.png) no-repeat -30px 0px; 
	position: absolute;
	top: 30px;
	right: 35px;
}

#feature .feature_1 .f_1  .f_title_2 {
	display: block;
	width: 200px;
	height: 12px;
	line-height: 12px;
	font-size: 12px;
	color: rgb(200,22,35);
	text-align: center;
	position: absolute;
	top: 50px;
	left: 0px;
	font-family: 微软雅黑;
}

#feature .feature_1 .f_2 {
	width: 403px;
	height: 200px;
	float: left;
	border-right: 1px solid #ededed;
	/*background: url(../images/ts_2.jpg) no-repeat;*/
	position: relative;
}

#feature .feature_1 .f_2_1 {
	font-size: 18px;
	font-weight: 600;
	font-family: 微软雅黑;
	color: rgb(51,51,51);
	line-height: 18px;
	position: absolute;
	top: 62px;
	left: 54px;
}

#feature .feature_1 .f_2_2 {
	font-size: 16px;
	font-family: 微软雅黑;
	line-height: 16px;
	color: rgb(51,51,51);
	position: absolute;
	top: 91px;
	left: 55px;
}

#feature .feature_1 .f_2_3 {
	font-size: 16px;
	font-family: 微软雅黑;
	line-height: 34px;
	color: white;
	width: 137px;
	height: 34px;
	background: #e7004d;
	z-index: 2;
	text-align: center;
	position: absolute;
	top: 116px;
	left: 31px;
}

#feature .feature_1 .f_3 {
	/*display: line-block;*/
	width: 200px;
	height: 200px;
	border-right: 1px solid #ededed;
	position: relative;
	float: left;
}

#feature .feature_1 .f_3 .f_t_1 {
	width: 28px;
	height: 1px;
	z-index: 2;
	background:url(../images/bg.png) no-repeat 0px 0px; 
	position: absolute;
	top: 30px;
	left: 25px;
}

#feature .feature_1 .f_3 .f_t_2 {
	width: 28px;
	height: 1px;
	z-index: 2;
	background: url(../images/bg.png) no-repeat -30px 0px; 
	position: absolute;
	top: 30px;
	right: 27px;
}

#feature .feature_1 .f_3 .f_b_1 {
	width: 30px;
	height: 16px;
	line-height: 16px;
	background: #dd4957;
	z-index: 2;
	color: white;
	font-size: 12px;
	font-family: 微软雅黑;
	position: absolute;
	left: 58px;
	top: 23px;
	text-align: center;
}

#feature .feature_1 .f_3 .f_b_2 {
	font-size: 16px;
	font-family: 微软雅黑;
	line-height: 16px;
	color: rgb(102,102,102);
	position: absolute;
	top: 23px;
	left: 92px;
}

#feature .feature_1 .f_3 .f_b_3 {
	font-size: 12px;
	color: 	rgb(200,22,35);
	width: 200px;
	height: 12px;
	line-height: 12px;
	text-align: center;
	position: absolute;
	top: 51px;
	left: 0px;
	overflow: hidden;
	font-family: 微软雅黑;
}

#feature .feature_1 .f_4 {
	width: 201px;
	height: 200px;
	border-right: 1px solid #ededed;
	float: left;
	background: #f7f7f7;
}

#feature .feature_1 .f_4  img {
	display: inline-block;
	border-bottom: 1px dashed #e0e0e0;
	border-left: 1px dashed #e0e0e0;
	float: left;
}

#feature .feature_1 .f_4 #f_4_1 {
	border-left: none;
}

#feature .feature_1 .f_4 #f_4_2  {
	border-left: none;
	border-bottom: none;
}

#feature .feature_1 .f_4 #f_4_3  {
	border-bottom: none;
}

#feature .feature_1 .f_5 {
	width: 401px;
	height: 200px;
	position: relative;	
	/*background: url(../images/ts_1.jpg) no-repeat;*/
	border-right: 1px solid #ededed;
	float: left;
}

#feature .feature_1 .f_5 .f_5_1 {
	width: 28px;
	height: 1px;
	z-index: 2;
	background: url(../images/bg.png) no-repeat 0px 0px; 
	position: absolute;
	top: 30px;
	left: 117px;
}

#feature .feature_1 .f_5 .f_5_2 {
	width: 28px;
	height: 1px;
	z-index: 2;
	background: url(../images/bg.png) no-repeat -30px 0px; 
	position: absolute;
	top: 30px;
	right: 119px;
}


#feature .feature_1 .f_5 .f_b_5_1 {
	width: 30px;
	height: 16px;
	line-height: 16px;
	background: #dd4957;
	z-index: 2;
	color: white;
	font-size: 12px;
	font-family: 微软雅黑;
	position: absolute;
	left: 150px;
	top: 23px;
	text-align: center;
}

#feature .feature_1 .f_5 .f_b_5_2 {
	font-size: 16px;
	font-family: 微软雅黑;
	line-height: 16px;
	color: rgb(102,102,102);
	position: absolute;
	top: 23px;
	left: 185px;
}

#feature .feature_1 .f_5 .f_b_5_3 {
	font-size: 12px;
	color: 	rgb(200,22,35);
	width: 400px;
	height: 12px;
	line-height: 12px;
	text-align: center;
	position: absolute;
	top: 51px;
	left: 0px;
	overflow: hidden;
	font-family: 微软雅黑;
}

#feature .feature_1 .f_5 .f_6 {
	float: left;
	width: 201px;
	height: 111px;
	border-left: 1px dashed #ededed;
	position: absolute;
	top: 77px;
	left: 200px;
}

#feature .feature_1 .f_5 .f_6 a {
	text-indent: 20px;
	font-size: 12px;
	line-height: 30px;
	font-family: 微软雅黑;
	display: block;
	float: left;
}

#feature .feature_1 .f_5 .f_6 a>span {
	color: rgb(200,22,35);
}

#feature .feature_1 .f_5 .f_6 a:hover {
	color: rgb(200,22,35);
}
/* 中部京东特色购结束 */
/*京东特色购下方宣传*/
#txc {
	width: 1210px;
	height: 135px;
	margin: 0 auto;
	margin-top: 20px;
}

#txc img {
	float: left;
}
/*京东特色购下方宣传结束*/
/*1F服装鞋包*/
#FZXB {
	width: 1210px;
	height: 800px;
	margin: 0 auto;
	border: 1px solid orange;
}
#FZXB #FZXB_top {
	width: 1210px;
	height: 36px;
/*	border: 1px solid blue;*/
/*	border-bottom: 1px solid #a10000;*/
}

#FZXB #FZXB_top p {
	width: 40px;
	height: 36px;
	float: left;
	background: url(../images/sprite_floor.png) no-repeat 0px 2px;
	font-size: 13px;
	color: white;
	font-family: 微软雅黑;
	line-height: 30px;
	text-indent: 2px;
}

#FZXB #FZXB_top span {
	height: 36px;
	float: left;
	font-size: 20px;
	color: rgb(51,51,51);
	font-family: 微软雅黑;
	line-height: 30px;
}

#FZXB #FZXB_top div {
	float: right;
	border: 1px solid #ededed;
	height: 34px;
/*	padding: 0px 17px;*/

}

#FZXB #FZXB_top div a {
	display: block;
	float: left;
	font-size: 12px;
	color: #666666;
	padding: 0px 17px;
	line-height: 34px;
}

#FZXB #FZXB_top div em {
	float: left;
	font-size: 12px;
	color: #cccccc;
	 
	line-height: 34px;
}

#FZXB #FZXB_top div a:hover {
	color: rgb(200,22,35);
	border-top: 2px solid rgb(200,22,35);
	border-bottom: none;
	border-left: 1px solid rgb(200,22,35);
	border-right: 1px solid rgb(200,22,35);
}
/*1F服装鞋包结束*/







	
	



